*{
    
    margin:0;
    padding:0;
}

body{

    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

header{

    font-size: large;
    text-align:center;
}

.game{

 
    height: 400px;
    width:95%;
    margin:10px 10px;
    background-color: aqua;
    border: solid;
    border-color: black;
    border-width: 2px;
}

