*{
    
    margin:0;
    padding:0;
}

body{

    display:flex;
    align-items: center;
    flex-direction: column;
}

header{

    font-size: large;
    text-align:center;
    padding-top:20px;
}

.game{

    display:grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    height: 850px;
    width:98%;
    background-color: rgb(146, 207, 223);
    border: solid;
    border-color: black;
    border-width: 3px;
}

.cloud{
    animation-name: cloudsMovement;
    animation-duration: 13s;
    transition-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cloudsMovement{

    0% {transform: translateX(0%);}
    25% {transform: translateX(10%);}
    50% {transform: translateX(20%);}
    75% {transform: translateX(10%);}
    100% {transform: translateX(0%);}
} 

footer{

    font-size: 25px;
    margin-top: 10px;
}