/*-------GameSpace-----*/
*{
    
    margin:0;
    padding:0;
}
::selection{
    background: transparent;
}
::-moz-selection{
    background: transparent;
}
body{
    background-image: linear-gradient(rgb(162, 211, 235),rgba(233, 180, 227, 0.551));
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;

    

    
}

.game-grid {
    display: grid;
    width: 2558.4px;
    height:100vh;
    position: relative;
    grid-template-columns: 0.01fr 1fr 0.01fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .head { grid-area: 1 / 1 / 2 / 4; 
        display:flex;
        align-items: center;
        justify-content: center;}
    .sidebar-right { grid-area: 2 / 1 / 4 / 2; }
    .sidebar-left { grid-area: 2 / 3 / 4 / 4; }
    .game-space { grid-area: 2 / 2 / 3 / 3; 
        background-image: url(tumblr_o71mvufacw1uaundno1_1280.gif);
        background-repeat: no-repeat;
        background-size: cover;
        border: solid;
        position: relative;
        border-color: black;
        margin-bottom: -5px;
        cursor: crosshair;
        border-width: 3px;}

    .foot { grid-area: 3 / 2 / 4 / 3; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}



footer{

    opacity: 0.5;
    
}

/*-----------z-index----------*/

.game-grid{z-index: 0;}
.score{z-index: 1;}
label{z-index:2;}
.bird{z-index:2;}
.dead{z-index:3;}

/*---Counter----*/

body{
    counter-reset:score;
}
.count:checked + label{
    counter-increment:score;
}
.score{
    position:fixed;font-size: 24px;top:14%; left:2%;
}
.score:after{
    content:counter(score);
}


