a{
    background-color: beige;
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    padding: 0px;
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1{
    color: blue;
}

h2{
    font-size:large;
    border-image: fill;
}