.button{
    width:150px;
    height:40px;
    position: relative;
    border: solid 2px black;
    text-align: center;
    text-decoration: none;
    animation-name: Button;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    opacity: 0;
    
}

.foot {position: relative;
    display: flex; justify-content:space-between; align-items: center;}

@keyframes Button{
    0%{opacity: 0;pointer-events: none;}
    99%{opacity:0;pointer-events: none;}
    100%{opacity: 1;
    z-index:8;}
}

