body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input[type=checkbox]{
    display:none;
}
.beak{
    height: 50px;
    width: 50px;
    border: solid orange 2px;
    border-top-left-radius:90% ;
    border-bottom-right-radius: 20%;
    background-color: orange;
}
.birdbody{
    height: 50px;
    width: 55px;
    border: solid black 2px;
    border-top-left-radius:90% ;
    border-top-right-radius:90%;
    border-bottom-right-radius: 40%;
    border-bottom-left-radius:40% ;
    background-color: black;
    border-bottom-right-radius;
}
div{
    box-shadow: 0 20px 0 0;
    height: 50px;
    width: 100px;
    border: #0000 solid 2px;
}
div2{
    height: 50px;
    width: 100px;
    background-color: #000000;
    border: solid #0000 2px;
    border-top-left-radius:90% ;
    border-top-right-radius:90%;
    border-bottom-right-radius:90%;
    border-bottom-left-radius:90%;
    bottom: 50px;
    left: -55px;
}

label{
    cursor: pointer;
    text-indent:9999px;
    background-color: #000000;
    border-radius: 25px;
    position: relative;
    transition:all .4s ease-out;
}
    label:after{
        content: '';
        position:absolute;
        top:5px;
        left:5px;
        width:40px;
        height:40px;
        background-color: #a5cace;
        border-radius: 50%;
        transition:all .4s ease-out;

    }
input:checked + label{
    background: #96e7ef;
}  
    input:checked + label:after{
        transform:translate3d(50px,0,0);
        background-color: #1d6269;
    }