body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
input{position:fixed; left:-10px; top:-10px;}

.thebird{
    width:500px;
    height: 130.84px;
  
}
.input-circle ~ .bird{
    opacity:0;
    transition:0.3s  cubic-bezier(0,.43,1,0);
    animation: move 8s infinite alternate;
}
.bird{   
    position:absolute;
    left:0;  
    cursor:crosshair;
  }
  .bird>span{
    display:none;position:absolute; z-index:2; left:-250%;bottom:-50%;  
    background-color:white; border:solid 2px #000; width:80px; height:30px; padding:10px; border-radius:50%;
  }
  .bird>span:before{
    content:"I'm Dead!"; color:red; font-weight:bold;
  }
  .input-circle1:not(:checked) ~ .bird1,


/*label{
    cursor: crosshair;
    position: relative;
    text-indent:9999px;
    height: 130.84px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:all .4s ease-out;
  
}
    label:after{ 
       background-color: aqua;
    }
input:checked + label{
        content-visibility: hidden;
}*/