input[type=checkbox]{
    display:none;
}
label{
    cursor: pointer;
    text-indent:9999px;
    height:50px;
    width:100px;
    background-color: #dff7fa;
    border-radius: 25px;
    position: relative;
    transition:all .4s ease-out;
}