/*------Wings-----*/  

.left-wing-animation{
    animation-name:fly-left;
    position: relative;
    animation-duration: 1.5s; 
    animation-iteration-count: infinite; 
    transform-origin:right;
  }
  @keyframes fly-left{
      0%{transform: rotate(0deg);}
      50% {transform: rotate(20deg); }
      100%{transform: rotate(0deg); }
  }
  
  .right-wing-animation
  {
      animation-name:fly-right;
      position: relative;
      animation-duration: 1.5s; 
      animation-iteration-count: infinite; 
      transform-origin:left;
  }
  @keyframes fly-right
  {
        0%{transform: rotate(0deg);}
        50% {transform: rotate(-20deg); }
        100%{transform: rotate(0deg); }
  }

/*-------Flying-------*/

  .fly1{
      animation-name:fly1;
      position:relative;
      animation-duration: 8s;
      animation-iteration-count: infinite;

  }
  @keyframes fly1{
      0%{left:-100px;top:-100px;}
      10%{left:50px;top:50px;}
      20%{left:200px;top:0px;}
      30%{left:250px;top:250px;}
      40%{left:500px;top:100px;}
      50%{left:20px;top:10px;}
      60%{left:1050px;top:150px;}
      70%{left:440px;top:150px;}
      80%{left:20px;top:150px;}
      90%{left:450px;top:250px;}
      100%{left:-100px;top:-100px;}

  }
  
  .fly2{
    animation-name:fly2;
    position:relative;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
@keyframes fly2{
    0%{left:500px;top:-100px;}
    10%{left:150px;top:250px;}
    20%{left:1000px;top:0px;}
    30%{left:10px;top:550px;}
    40%{left:500px;top:100px;}
    50%{left:200px;top:150px;}
    60%{left:750px;top:150px;}
    70%{left:440px;top:150px;}
    80%{left:20px;top:250px;}
    90%{left:450px;top:250px;}
    100%{left:500px;top:-100px;}

}

.fly3{
    animation-name:fly3;
    position:relative;
    animation-duration: 12s;
    animation-iteration-count: infinite;

}
@keyframes fly3{
    0%{left:1050px;top:-100px;}
    10%{left:150px;top:150px;}
    20%{left:500px;top:50px;}
    30%{left:10px;top:250px;}
    40%{left:200px;top:10px;}
    50%{left:200px;top:250px;}
    60%{left:750px;top:150px;}
    70%{left:540px;top:450px;}
    80%{left:20px;top:50px;}
    90%{left:450px;top:250px;}
    100%{left:1050px;top:-100px;}

}