/*-------GameSpace-----*/
*{
    
    margin:0;
    padding:0;
}

body{

    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    cursor: crosshair;
    background-image: url(../MainProject/stage.png);
}

header{

    font-size: large;
    text-align:center;
    
}
.game-grid {
    display: grid;
    width: 2558.4px;
    height:100vh;

    grid-template-columns: 0.01fr 1fr 0.01fr;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .head { grid-area: 1 / 1 / 2 / 4; 
        display:flex;
        align-items: center;
        justify-content: center;}
    .sidebar-right { grid-area: 2 / 1 / 4 / 2; }
    .sidebar-left { grid-area: 2 / 3 / 4 / 4; }
    .game-space { grid-area: 2 / 2 / 3 / 3; 
        background-color: rgba(146, 208, 223, 0.552);
        border: solid;
        border-color: black;
        border-width: 3px;}
    .foot { grid-area: 3 / 2 / 4 / 3; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}



footer{

    font-size: 25px;
    margin-top: 10px;
    color: blanchedalmond;
}

/*-----------z-index----------*/

.game-grid{z-index: 0;}
label{z-index:1;}
.bird{z-index:1;}
.dead{z-index:2;}

